<!DOCTYPE html>
<html>
<head>
	<title>Eat da Burger</title>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Munchies</title>
<body>
{{{body}}}
</body>
</html>
