body{
    background-image: url("../img/background.JPG");
    background-repeat: no-repeat;
    color: #000000;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: tan;
}

.form-group {
    margin-bottom: 5px;
}
